*,*::before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #fff;
   
}

html, body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    
}

.wrapper{
    background: url('assets/img/background.jpg') no-repeat center;

    background-size: cover;
    height: 100vh;
}

.container{
    display: block;
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}
.services{
    padding: 0 0 12px 0;
    
}

.container__content ul{
    padding-left: 18px;
}

.header{
    position: fixed;
    width: 100%;
    top: 40px;
    left:0;
    z-index: 50;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__list li{ 
    list-style: none;
    margin: 0px 0px 0px 20px;
    z-index: 2;
}
.header__link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: .2s ease-in;
}

.header__link:hover{
    color: rgb(255, 53, 53);
    transition: .2s ease-in;
}

.header__logo {
    display: block;
    z-index: 100;
    transition: .3s ease-out;
}

.header__logo svg{
    max-width:100%;
    display: block;
    transition: .3s ease-out;
}
.header__logo circle:hover{
    fill: rgb(179, 0, 0);
    transition: .3s ease-in;
}
.header__logo path:hover{
    fill: rgb(165, 165, 165);
    transition: .3s ease-in;
}

.content__text{
    font-size: 18px;
    line-height: 24px;

    position: absolute;
    top: 32%; left: 56%;

}

.content{
    padding-top: 120px;
}

h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 46px;
}

p{
   padding: 12px;
}

.btn{
    background-color: #FB3B41;
    padding: 10px 24px 10px 24px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    text-decoration: none;
}

.btn:hover{
    
    background: rgb(179, 0, 0);
    transition: .3s ease-in-out;
}

.btn-container{
    padding: 24px 0 40px 0;
}

.btn-container p{
    display: block;
    max-width: 188px;
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    color: floralwhite
}

@media (max-width: 900px){
    .wrapper{
        background: url('assets/img/background-mobile.jpg') no-repeat;
        background-size: cover;
        margin: 0 ;
        padding: 0;
        height: 100vh;
        width: 100vw;  

    } 

    body.lock{
        overflow: hidden;
    }  

    .header__body{
        height: 0px;
    }

    .header__logo svg{
       width: 50px;
    }

    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: .3s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #090909;
        padding: 100px 10px 20px 60px;
        transition: .2s ease-out;
        overflow: auto;
    }
    .header__menu.active{
        top: 0;
        transition: .3s ease-in;
    }

    .header__list{
        display: block;
        text-align: right;
    }

    .header__list li{
        margin: 0 0 20px 0; 
    }




    .header__list a{
        font-size: 40px;
    }

    .header__list svg{
        /* margin: 40px 0 0 0; */
        /* display: block; */
        width: 48px;
        height: 48px;
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
        transition: .3s;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
        transition: .3s;
    }
    .header__burger.active span{
        display: none;
        transition: .3s;
    }
    .content__text{
        font-size: 24px;
        line-height: 30px;
        margin: 0 10px 0 10px;
    }

    .content__text{
        font-size: 18px;
        line-height: 24px;

        position: absolute;
        top: 20%; left: 10%;
    
    }

   
    
    .btn-container p{
        display: block;
        max-width: 188px;
        text-align: left;
        font-weight: 200;
        font-size: 14px;
        color: floralwhite
    }
    
}